NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
BASELINKER_API_TOKEN=
SUPABASE_SERVICE_ROLE_KEY=
BASELINKER_WAREHOUSE_ID=
BASELINKER_INVENTORY_ID=
DHL_USERNAME=
DHL_PASSWORD=
BASE_TRANSACTION_TYPE_TOKEN=

GOOGLE_SHEET_CSV_URL=
GOOGLE_SHEET_CSV_URL_2=